.navbarContainer {
  background: linear-gradient(to right, #296cfd, #0036ac);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.navbarBrand {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbarBrand:hover {
  color: #d4eaff;
}

.navMenu {
  display: flex;
  justify-content: center;
}

.navLink {
  color: #ffffff;
  font-weight: bold;
  margin: 0 15px;
  transition: color 0.3s ease;
}
.navLink:hover {
  color: #d4eaff;
}

.navDropdown {
  position: relative;
  color: #d4eaff;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.navDropdown:hover {
  color: #ffffff;
}

.dropdownItem {
  color: #296cfd;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px 15px;
  display: block;
}
.dropdownItem:hover {
  background-color: #296cfd;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 0;
  display: none;
  z-index: 1000;
}

.navDropdown:hover .dropdownMenu {
  display: block;
}
